@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    background-color: #000;
    margin: 0;
    padding: 0;
}
.registro-box{
    width: 450px;
    height: 430px;
    background: #000;
    color:rgb(240, 233, 233);
    top: 30%;
    left: 38%;
    position: absolute;
    transform: translate(-50% -50%);
    box-sizing:border-box;
    padding: 70px 30px;
}
.registro-box .avatar{
    width: 180px;
    height: 110px;
    border-radius: 50px;
    position: absolute;
    top: -30px;
    left: calc(50% - 90px);
}

.registro-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 37px; 
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
}
.registro-box label {
    margin: 0;
    padding: 0;
    font-weight:bold;
    display: block;

}
.registro-box input {
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Roboto Flex', sans-serif;
    border-radius: 10px;
    text-align:center;
    height: 28px;
    
}
.registro-box input [type-text],
.registro-box input [type-password] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.registro-box input [type-submit]{
    border: none;
    outline: none;
    height: 40px;
    background: #f5f1f1;
    color: rgb(190, 49, 49);
    font-size: 18px;
    border-radius: 20px;
}
.registro-box a {
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: rgb(255, 254, 254);
    font-family: 'Roboto Flex', sans-serif;
}
.registro-box a:hover {
    color: rgb(88, 4, 4);
}
.registro-box .logo{
    width: 180px;
    height: 110px;
    border-radius: 50px;
    position: absolute;
    top: -30px;
    left: calc(50% - 90px);
}